* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #ded3e9;
}

section{
    margin: auto;
    margin-top: 40px;
    max-width: 400px;
    /* border: 2px #F172C5 solid; */
    border-radius: 10px;
    padding-bottom: 30px;
}

section *{
    margin-top: 20px;
    text-align: center;
}

.main_header{
    background-image: url();
    width: 80%;
    background-color: #F86DAC;
    border-radius: 10px 10px 0 0;
    margin: auto;
    padding: 40px;
    color: white;
}

.main_section{
    background-color: white;
}

.first_man{
    font-size: 15px;
}

input{
    text-align: left;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    border: 3px solid #F7F7FA;
    color: #DEE1E6;
}

button{
    padding: 20px;
    width: 80%;
    text-align: center;
    font-family: inherit;
    color: white;
    background-color: #F86DAC;
    border-radius: 10px;
    border: none;
}

.sub{
    color: #929191;
}

footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 30px;
}

.picx{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}